body {SCROLLBAR-FACE-COLOR:#D2FFD2; 
SCROLLBAR-HIGHLIGHT-COLOR: #8AA583; 
SCROLLBAR-SHADOW-COLOR: #8AA583; 
SCROLLBAR-3DLIGHT-COLOR: #ffffff; 
SCROLLBAR-ARROW-COLOR: #8AA583; 
SCROLLBAR-TRACK-COLOR: #E1FFE1; 
SCROLLBAR-DARKSHADOW-COLOR:  #ffffff; 
background-attachment: fixed;
background-repeat: no-repeat;
background-color: EFF7F7;
}
